.signup-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 0% 15% 0% 15%;
    background-color: #f5f1da;
    color: #808c6c;
}

.card-header {
    margin: 10rem 1rem 0rem 1rem;
}

.formBasicName, 
.formBasicDOB,
.formBasicEmail,
.formBasicPassword, 
.formBasicConfirm {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    color: #808c6c;
    background-color: #fdac61;

}

Button {
    align-self: center;
    background-color: #808c6c;
    color: #f5f1da;
}